<html>
    <head>
        <link rel="stylesheet" href="../private/bootstrap4.1/css/bootstrap.min.css"> 
        <script src="../private/bootstrap4.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="../private/custom.css">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">

        <script src="../private/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="../private/bootstrap4.1/js/bootstrap.min.js"></script>
        <script src="../private/weeklysched/src/index.js"></script>
<!--   This is for the calendar    -->
        <style>
            ul {list-style-type: none;}
            /* Month header */
            .month {
                width: 100%;
                text-align: center;
            }

            /* Month list */
            .month ul {
                margin: 0;
                padding: 0;
            }

            .month ul li {
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            /* Previous button inside month header */
            .month #prev {
                float: left;
                padding-top: 10px;
            }

            /* Next button */
            .month #next {
                float: right;
                padding-top: 10px;
            }

            /* Weekdays (Mon-Sun) */
            .weekdays {
                margin: 0;
                padding: 10px 0;
                background-color:#ddd;
            }

            .weekdays li {
                display: inline-block;
                width: 13.6%;
                color: #666;
                text-align: center;
            }

            /* Days (1-31) */
            .days {
                padding: 0px 0;
                background: #eee;
                margin: 0;
            }

            .days li {
                list-style-type: none;
                display: inline-block;
                width: 5%;
                text-align: center;
                margin-bottom: 5px;
                font-size:14px;
                color: #777;
            }

            /* Highlight the "current" day */
            days li .active {
                padding: 5px;
                background: #1abc9c;
                color: white !important;
            }
            
            .schedule-rows td {
              width: 80px;
              height: 30px;
              margin: 3px;
              padding: 5px;
              background-color: #3498DB;
              cursor: pointer;
            }

            .schedule-rows td:first-child {
              background-color: transparent;
              text-align: right;
              position: relative;
              top: -12px;
            }

            .schedule-rows td[data-selected],
            .schedule-rows td[data-selecting] { background-color: #E74C3C; }

            .schedule-rows td[data-disabled] { opacity: 0.55; }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills bg-custom" id="sidebar">
                    <li class="sidebar-brand">    
                        <img src="../private/logo_white.png" width="100" height="100" class="logo">
                        <a href="#">
                            Welcome back,<br/><span>Admin</span>
                        </a>
                    </li>
                    <a id = "Schedule" class="nav-link active" data-toggle="tab" href="#adminSchedule">Schedule</a>
                    <a class="nav-link" data-toggle="tab" href="#adminRes">Manage Reservations</a>
                    <a class="nav-link" data-toggle="tab" href="#adminTutees">Manage Tutees</a>
                    <a class="nav-link" data-toggle="tab" href="#adminBilling">Manage Billing</a>
                    <a class="nav-link" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="adminSchedule">
<!--                        <div id="weekly-schedule"></div>-->
                        <div class="month">
                            <ul>
                                <li id="prev" style="cursor: pointer">&#10094;</li>
                                <li id="next" style="cursor: pointer">&#10095;</li>
                                <li id="monthName">August<br><span>2017</span></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm">Time
                                <ul id="time">
                                </ul>
                            </div>
                            <div class="col-sm">Sunday
                                <ul id="Sunday">
                                </ul>
                            </div>
                            <div class="col-sm">Monday
                                <ul id="Monday">
                                </ul>
                            </div>
                            <div class="col-sm">Tuesday
                                <ul id="Tuesday">
                                </ul>
                            </div>
                            <div class="col-sm">Wednesday
                                <ul id="Wednesday">
                                </ul>
                            </div>
                            <div class="col-sm">Thursday
                                <ul id="Thursday">
                                </ul>
                            </div>
                            <div class="col-sm">Friday
                                <ul id="Friday">
                                </ul>
                            </div>
                            <div class="col-sm">Saturday
                                <ul id="Saturday">
                                </ul>
                            </div>
                        </div>
<!--
                        <div class="month"> 
                          <ul>
                            <li id="prev" style="cursor: pointer">&#10094;</li>
                            <li id="next" style="cursor: pointer">&#10095;</li>
                            <li id="monthName">August<br><span style="font-size:18px">2017</span></li>
                          </ul>
                        </div>

                        <ul class="weekdays">
                            <li>Sunday</li>
                            <li>Monday</li>
                            <li>Tuesday</li>
                            <li>Wednesday</li>
                            <li>Thursday</li>
                            <li>Friday</li>
                            <li>Saturday</li>
                        </ul>
                        
                        <ul class="days">
                        </ul>
-->
                    </div>
                    <div class="tab-pane fade" id="adminRes">reservations</div>
                    <div class="tab-pane fade" id="adminTutees">
                        <div class="row list-box">
                            <div class="col-5">
                                <h2>Tutees</h2>
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-home">
                                        <h4>Juan dela Cruz</h4>
                                        <h6>De La Salle Zobel</h6>
                                    </a>
                                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-profile">
                                        <h4>Juanita dela Cruz</h4>
                                        <h6>De La Salle Zobel</h6>
                                    </a>
                                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-messages">
                                        <h4>Isobel dela Cruz</h4>
                                        <h6>PAREF Woodrose</h6>
                                    </a>
                                </div>
                                <button class="btn btn-success">Add Account<i class="fas fa-plus"></i></button>
                            </div>
                            <div class="col-7">
                                <div class="tab-content tuteeProfile">
                                    <div class="tab-pane fade" id="list-home">
                                        <h4>Juan dela Cruz</h4>
                                        <h6>De La Salle Zobel</h6>
                                    </div>
                                    <div class="tab-pane fade" id="list-profile">
                                        <h4>Juanita dela Cruz</h4>
                                        <h6>De La Salle Zobel</h6>
                                    </div>
                                    <div class="tab-pane fade" id="list-messages">
                                        <h4>Isobel dela Cruz</h4>
                                        <h6>PAREF Woodrose</h6>
                                    </div>
                                </div>
                                <button class="btn btn-custom tuteeBtn"><i class="fas fa-edit"></i>Edit</button>
                                <button class="btn btn-warning tuteeBtn"><i class="fas fa-coins"></i>Bill</button>
                                <button class="btn btn-danger tuteeBtn"><i class="far fa-times-circle"></i>Disable</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="adminBilling">
                        <div class="row list-box">
                            <div class="col-11">
                                <h2>Billing</h2>
                                <table class="table staticHead">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Bill #</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Fee</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="tableDiv">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>Juan dela Cruz</td>
                                                <td>Php 1000</td>
                                                <td class="paid">Paid</td>
                                            </tr>
                                            <tr class="selected">
                                                <th scope="row">2</th>
                                                <td>Juanita dela Cruz</td>
                                                <td>Php 1000</td>
                                                <td class="paid">Paid</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Isobel dela Cruz</td>
                                                <td>Php 1200</td>
                                                <td class="pending">Pending</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Juan dela Cruz</td>
                                                <td>Php 1000</td>
                                                <td class="paid">Paid</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Juanita dela Cruz</td>
                                                <td>Php 1000</td>
                                                <td class="paid">Paid</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Isobel dela Cruz</td>
                                                <td>Php 1200</td>
                                                <td class="pending">Pending</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>                    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-11 receiptDiv">
                                <div class="card">
                                    <div class="card-header">
                                        Digital Receipt #2
                                    </div>
                                    <div class="card-body">
                                        Name: Juanita dela Cruz<br/>
                                        
                                        Rate: Php1000/session<br/>
                                        Session/s overdue: 1<br/><br/>
                                        Total due: Php 1000<br/>
                                        Status: Paid<i class="fas fa-check"></i><br/><br/>
                                        <button class="btn btn-outline-danger"><i class="fas fa-undo"></i>Revert status</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!------ MODALS HERE ------->
        <div class="modal fade" id="logoutModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="../private/logo_blue.png" width="100" height="100" class="logo">
                        <h5>Are you sure you want to logout?</h5>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="far fa-times-circle"></i>Cancel</button>
                        <button type="button" class="btn btn-custom"><i class="fas fa-sign-out-alt"></i>Logout</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="calendarModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
            
                    </div>
                    <div class="modal-body">
                    
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        
//        $("#weekly-schedule").dayScheduleSelector({
//          /*
//          OPTIONS HERE
//          */
//        });
        
        var days = new Array(7);
        days[0] = "Sunday";
        days[1] = "Monday";
        days[2] = "Tuesday";
        days[3] = "Wednesday";
        days[4] = "Thursday";
        days[5] = "Friday";
        days[6] = "Saturday";
        
        setTime();
        setDays();
        
        function setTime(){
            $("#time").empty();
            for(var i = 9; i < 18; i++){
                var liTime = document.createElement("li");
                var timeTxt = document.createTextNode(i + ":00");
                $(liTime).append(timeTxt);
                $("#time").append(liTime);
            }
        }
        
        function setDays(){
            for(var i = 0; i <7; i++){
                for(var x = 9; x < 18; x++){
                    var liDay = document.createElement("li");
                    var dayTxt = document.createTextNode("Free");
                    $(liDay).addClass("days");
                    $(liDay).attr("id",days[i] + ":" + x);
                    $(liDay).append(dayTxt);
                    $("#" + days[i]).append(liDay);
                }
            }
        }
        
        $(document).on("click",".days",function(){
            console.log("Hello " + $(this).attr("id"));
        })
        
//        $(document).on("click",".days li", function(){
//            $("#calendarModal .modal-header").empty();
//            console.log("Hello" + $(this).attr("id"));
//            var dateH1 = document.createElement("h1");
//            var textH1 = document.createTextNode(months[curMonthNum] +"/"+ $(this).attr("id") +"/"+ curYearNum);
//            $(dateH1).append(textH1);
//            $("#calendarModal .modal-header").append(dateH1);
//            $("#calendarModal").modal("show");
//        })
//        
//        $("#Schedule").click(function(){
//            initCalendar();
//        });
//        
        var months = new Array(12);
        months[0] = "January";
        months[1] = "Febuary";
        months[2] = "March";
        months[3] = "April";
        months[4] = "May";
        months[5] = "June";
        months[6] = "July";
        months[7] = "August";
        months[8] = "September";
        months[9] = "October";
        months[10] = "November";
        months[11] = "December";
        
        n = new Date();        
        var curMonth = n.getMonth();
        var curDay = n.getDate();
        var curYear = n.getFullYear();
        // This is the distance from the current month
        var curMonthNum = curMonth;
        var curYearNum = curYear;
        
        $("#prev").click(function(){
            curMonthNum--;
            if(curMonthNum < 0){
                curYearNum--;
                curMonthNum = 11;
            }
            setCalendar();
        });
        
        $("#next").click(function(){
            curMonthNum++;
            if(curMonthNum > 11){
                curYearNum++;
                curMonthNum = 0;
            }
            setCalendar();
        });
        
        function initCalendar(){
            $(".days").empty();
            nd = new Date(curYear,curMonth,1);
            setYearAndMonth(curMonth,curYear);
            setTime();
            setDays();
        }
        
        function setCalendar(){
            $(".days").empty();
            nd = new Date(curYearNum,curMonthNum,1);
            setYearAndMonth(curMonthNum,curYearNum);
            setTime();
            setDays();
        }
        
        function setYearAndMonth(month,year){
            $("#monthName").empty();
            var mon = document.createTextNode(months[month]);
            var yer = document.createTextNode(year);
            var brk = document.createElement("br");
            var span = document.createElement("span");
            $(span).attr("style","font-size:18px");
            $("#monthName").append(mon);
            $("#monthName").append(brk);
            $("#monthName").append(span);
            $("#monthName").append(yer);
        }
//        
//        function addDays(num){
//            for(var i = 0; i < num; i++){
//                var day = document.createElement("li");
//                var text = document.createTextNode(i+1);
//                if(i+1 == curDay && curMonthNum == curMonth){
//                    var span = document.createElement("span");
//                    $(span).addClass("active");
//                    $(span).append(text);
//                    $(day).append(span);
//                }
//                else{
//                    $(day).append(text);
//                }
//                $(day).attr("id",i+1);
//                $(".days").append(day);
//            }
//        }
//        
//        function makeSpaces(num){
//            for(var i = 0; i < num; i++){
//                var blank = document.createElement("li");
//                $(".days").append(blank);
//            }
//        }
        
        function daysInMonth (month, year) {
            return new Date(year, month, 0).getDate();
        }
    </script>
</html>