<html>
    <head>
        <link rel="stylesheet" href="../private/bootstrap4.1/css/bootstrap.min.css"> 
        <script src="../private/bootstrap4.1/js/bootstrap.min.js"></script>
        <script src="../private/bootstrap4.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="../private/custom.css">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="#">
                <img src="../private/logo_white.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Mica Pena Tutoring Services
            </a>
        </nav>
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-6">
                    <div class="jumbotron card">
                        <h1 class="display-4">Online Tutoring Reservation System</h1>
                        <p class="lead">Hi, I'm Mica Pena, your next tutor.</p>
                        <hr class="my-4">
                        <p>You can reach me at 0917-XXX-XXXX if you're interested to set an appointment or learn more.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
        <div id="particles-js"></div>

        <script src="../private/particles.js-master/particles.js"></script>

    </body>
</html>