<html>
    <head>
        <link rel="stylesheet" href="../bootstrap4.1/css/bootstrap.min.css"> 
        <script src="../bootstrap4.1/js/bootstrap.min.js"></script>
        <script src="../bootstrap4.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="../custom.css">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
        
        <script src="../jquery.min.js"></script>
        <script src="../authentication.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
            <a class="navbar-brand" href="/">
                <img src="../logo_white.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Mica Pena Tutoring Services
            </a>
        </nav>
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-6">
                    <div class="jumbotron card">
                        <h1 class="display-4">Online Tutoring Reservation System</h1>
                        <p class="lead">Hi, I'm Mica Pena, your next tutor.</p>
                        <hr class="my-4">
                        <p>You can reach me at 0917-XXX-XXXX if you're interested to set an appointment or learn more.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                    <div class="invalid-feedback">Invalid credentials.</div>
                                </div>
                                
                                <button id="loginBtn" class="btn btn-custom" onclick="return false">Login</button>
                            </form>
                            <form action="../loginSuccess" id="loginForm" method="get" class="hidden">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
        <div id="particles-js"></div>

        <script src="../particles.js-master/particles.js"></script>
        <script src="../particles.js-master/app.js"></script>
    </body>
</html>